/* Estilos personalizados */

html, body {
    margin: 0;
    height: 100vh ;
    overflow: hidden;

}

footer {
    display: none;
}

.all_content {
    margin: 5.2em 0.5em 1em 0.5em;
}


#left-div {
    margin-top:0.2em;
    margin-bottom:0em;
    height: calc(76vh );
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido es más largo que la altura máxima */
}

#left-div::-webkit-scrollbar {
    display: none;
}

/*  AQUI LOS ESTILOS DE LOS CHATS A LA IZQ */

.selected-chat {
    background-color: #f0f0f0; /* Cambia el color a tu elección */
}

.matches_div{
    display: flex;
    overflow-x: auto; /* Agregar desplazamiento horizontal si es necesario */
    white-space: nowrap; /* Evitar el salto de línea de las imágenes */
    overflow-y: hidden; /* Evitar que las imágenes se desborden */
}
.every_match_div {
    flex: 0 0 auto; /* Evitar que las imágenes se redimensionen */
    cursor: pointer;
}
.every_match_div:hover {
    flex: 0 0 auto; /* Evitar que las imágenes se redimensionen */
    cursor: pointer;
}

.match_img {
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.img_div{
    width: 90px; /* Ancho de cada imagen */
    height: 110px; /* Altura de cada imagen */
    overflow: hidden; /* Evitar que las imágenes se desborden */
}


.card-body.matches_names_div {
    width: 110px; /* Ancho de cada imagen */
}



p.matches_names {
    font-size: 12px;
    font-weight: 600;
    margin-top: -1em;
    margin-left:-16px;
    overflow: hidden; /* Oculta el desbordamiento de texto */
    white-space: nowrap; /* Evita el salto de línea */
    text-overflow: ellipsis; /* Muestra puntos suspensivos cuando hay desbordamiento de texto */


}

.couple_description_text{
margin-top:0.5em;
margin-bottom:2em;
font-size:16px;
font-weight:450;

}
.carousel-inner img {
    max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
    height: auto; /* Mantiene la relación de aspecto original */
    border-radius:20px;
}


.chat_div_img {
    width: 4.3em;
    height: 4.3em;
    margin-top: 8px;
    margin-bottom: 3px;
}


.messenger_avatar {
    margin-right: 10px;
    height:3.2em;
    width:3.2em;
    margin-top: -5px;
    border-radius: 50px;
    object-fit: cover;
}

img.messenger_avatar.no_chats_img{

}

p.rules_text{

line-height:27px;
font-size:17px;
}

.chatting_avatar{
vertical-align: top;
}

.header_avatar{
    margin-top: -2em;

}


.messenger_header_text{
margin-left:1em;
display: inline-block;
}

.messenger_avatar_div{
display: inline-block;
margin-top:-3em;
z-index:3;
}

.received_msj{

}

.received_msj_content{
max-width:45em;
display:inline-block;
margin-left: 0.1em;
margin-right:7em;
background-color:var(--main-yellow);
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}

.user_chat{
  margin-bottom:1px;
  display: flex;
  justify-content: flex-end; /* Alinea los elementos hijos a la derecha */
}

.sent_msj{
margin-top:1px;
margin-bottom:1px;
background-color:var(--main-blue);
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
margin-left:10em;
}

.messenger_text{
margin: 0.6em 0.6em 0.5em 0.6em;
font-size:16px;
font-weight:500;
}
.messenger_text.sent{

}

.chat_img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen dentro del div sin distorsiones */
    border-radius: 50px;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}



div.matches_div {
    border-radius: 10px;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    max-width: 100%;

}



div.card-body {
    padding-bottom: 0px;
}

div.matches_div::-webkit-scrollbar {
    width: 12px;
}

div.matches_div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ADC4CE;
}

div.matches_div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.chats_div {
    margin-top:0.3em;
    max-width: 100%;
    border-radius: 40px;
    cursor: pointer;
}

.chats_div:hover {
    box-shadow: 0 0 5px 0 #0000001f;
}

.chat_preview_div {
    margin-left: 0;
    overflow: hidden; /* Oculta el desbordamiento de texto */
    white-space: nowrap; /* Evita el salto de línea */
    text-overflow: ellipsis; /* Muestra puntos suspensivos cuando hay desbordamiento de texto */
}

.date_text {
    margin-top: 8px;
    margin-right: 1em;
    font-size: 0.8rem;
    font-weight: 550;
}

h5.couple_names {
    font-size:17px;
    font-weight: 550;
    margin-top: 0.76em;
    padding-left: 1.4em;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que desborda el contenedor */
    text-overflow: ellipsis;
}

p.message {
    padding-left: 1.4em;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que desborda el contenedor */
    text-overflow: ellipsis;
}

.names_and_dates {
    height: 35px;
}

#messenger_div {
    width:100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 6.8em);
    border-radius: 20px;
    padding: 0;
}



#messenger_header {
    border:solid 2px #EEEEEE;
    padding: 0.5em 0em 0.3em 0.6em;
    height:6em;
    margin-left: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#chat_bottom{

}

#chat_body {
    border:solid 2px #EEEEEE;
    flex-grow: 1;
    height: calc(68.5vh);
    overflow-y: auto;
    padding-top:0.5em;
}
/* Style for chat entry input and button */

#message-input {
  resize: none;
  overflow: hidden;
}


#chat_entry {
    border:solid 2px #EEEEEE;
    background-color: #F1EFEF;
    height:5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#message_input {
    resize: none;
    border:none;
    flex-grow: 1;
    outline:0;
    background-color:transparent;
    margin-left: 40px;
    margin-right: 20px;
    word-break: break-word;
}

#chat_entry button {
    background-color: var(--main-blue);
    color: white;
    border: none;
    padding: 8px 15px;
    margin-right:20px;
    cursor: pointer;
    border-radius: 20px;
}

/* Style for chat entry button on hover */
#chat_entry button:hover {
    background-color: black;
}


.couple_preview {
    height: 90vh; /* Establece el 90% de la altura de la ventana */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}

.carousel {
    /* Ocupa el 65% superior de la vista */

    overflow: hidden; /* Evita que la imagen se desborde si es más grande */
}

.preview_content {
    /* Ocupa el 35% inferior de la vista */

     /* Agrega desbordamiento vertical si es necesario */
}



div span.badge.personalized_badge{
font-weight:510;
font-size:0.9em;
margin:0.3em 0.1em 0em;
background-color:var(--main-blue) !important;
}

.back_button{
display:none;

}
.no_photo{
margin-left:4.1em;
}

/* Estilos para la hora */
.message-time {
  font-size: 12px; /* Tamaño de fuente de la hora */
  position: relative; /* Posición absoluta para ajustar la posición */
  left: 35px; /* Alineado a la derecha del chatDiv */
  top: 50%; /* Centrado verticalmente */
  transform: translateY(-50%); /* Ajusta verticalmente al centro */
  z-index: 2; /* Asegura que esté por encima del círculo */
}

/* Estilos para el círculo */
.circle {
  width: 10px; /* Ancho del círculo */
  height: 10px; /* Alto del círculo */
  background-color: green; /* Color del círculo */
  border-radius: 50%; /* Hace que sea un círculo */
  position: relative; /* Posición absoluta para ajustar la posición */
  left: 90%; /* Alineado a la derecha */
  bottom: 50%; /* Alineado a la derecha */
  z-index: 1; /* Asegura que esté por encima de otros elementos */
  padding-right:0;
  padding-left:0;
}

.new_message{
background-color:#FFEEF4

}

/* Estilos para el chatDiv (solo como ejemplo) */
.chatDiv {
  /* Tus estilos para el chatDiv */
  position: relative; /* Asegura que el círculo se posicione en relación al chatDiv */
}

p.message.bold_text {
    font-size: 13px;
    font-weight:600;
}

/*Estilos para mobiles */
@media (max-width: 992px) {

.all_content{
margin:0;
}

#left_column{
margin-top:0.4em;
height:97vh;
}

#chat_body {
    margin-top:10vh;
    border:none;
    flex-grow: 1;
    height: calc(72.5vh  - 8vh);
    overflow-y: auto;
}


.every_match_div {
    height:21vh;
}


#chat_bottom{
position:fixed;
bottom:6.5vh;
width:98%;
margin:0 2px 0 4px;
}

#chat_entry {
width:100%;
height:9vh;
}

#messenger_header {
position: absolute;
top:0em;
width:100%;
background:white;
display: flex;
align-items: center;
border:none;
height:12vh;
border-bottom:solid 2px #EEEEEE;
z-index:2;
}

.messenger_avatar_div{
  flex-shrink: 0; /* Evita que la imagen se reduzca en tamaño */
  margin-top:0;
}

#middle_column{
display:none;
}

.back_button{
display:inline-block;
}

#chat_entry button{
margin-bottom:10px;
}

img.messenger_avatar.header_avatar{
margin-top:-5px;
}

img.messenger_avatar{
margin-right:3px;
height: 2.9em;
width: 2.9em;
z-index:3;
}


div.messenger_header_text{
display: flex;
flex-direction: column; /* El texto se apila verticalmente */
margin-right: 1em;
margin-left:1em;
}

#couple_name{
display:inline;
font-size:14px;
font-weight:600;
}

#message_date{
font-size:13px;
}



.received_msj_content{
margin-top:1px;
margin-bottom:1px;
margin-right:2em;
margin-left:0.1em;
max-width:15em;
}
.received_msj_div{
}

.no_photo{
margin-left:3.3em;
}

.sent_msj{
margin-left:6em;
}

p.messenger_text{
font-size:15px;
line-height:22px;
}

#message_input{
margin-left: 05px;
margin-right: 05px;
margin-top: 01px;
}



#chat_entry button {
    padding: 8px 15px;
    margin-right: 5px;
    margin-top: 8px;
}

.middle_column{
padding-right:0;
padding-left:0;
height:95vh;
}

/* messenger styles */

#messenger_div{
    position: relative;
    height: 100vh;
    display: flex;
        justify-content: space-between;
    flex-direction: column;
}

#back_to_second_column{
margin-bottom:1em;
background-color: var(--main-blue);
padding: 15px 20px;
border:none;
border-radius:20px;
}

#right_column{
margin-top:1em;
}
.couple_description_text {
    margin-bottom: 6.5em;

}

.carousel-inner img {
max-width: 100%;
margin:0;
}

.carousel{
z-indez:1;
}

div.navbar-collapse{
background-color:white;
}

.chat_div_img{
margin-top:0.7em;
}

.chat_preview_div{
margin-left:-0em;
}

a.navbar-brand.logo_icon {
display:none;
}

.couple_preview{
height: 98vh;
}

button.navbar-toggler{
margin-left:auto;
}

nav.navbar_background{
background-color:transparent !important;
}
.all_content {
margin-top: 0em;
}

#left-div{
height: calc(76vh);
}

div.matches_div::-webkit-scrollbar-thumb {
        background-color: transparent; /* Color del "pulgarcito" de la barra de desplazamiento */
        -webkit-box-shadow: none;
    }

.messenger_avatar:hover {
cursor: pointer;
}


}

div.matches_div::-webkit-scrollbar-track {
        background-color: transparent; /* Color del "pulgarcito" de la barra de desplazamiento */
        -webkit-box-shadow: none;
    }

    .col-3.personalized_matches_col{
    width: 30%;
    }
    #left-div {
       margin-top:-0.8em;
       margin-bottom:2em;
    }

    .div_img {
        width: 5.5em;
        height: 5.5em;
        padding-bottom: 0px;
        margin-top: 0px;
    }

    .match_img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ajusta la imagen dentro del div sin distorsiones */
        border-radius: 50px;
    }
    .chats_div {
    max-width: 100%;
    border-radius: 40px;
    height: 5.3em;
    margin-bottom:-0.1em;
    cursor: pointer;
    }

    p.matches_names {
    font-size: 12px;
    font-weight: 600;
    margin-top: -8px;
    }
    .date_text{
    display:None;
    }
    .names_and_dates {
    margin-left:0.3em;
        margin-top:1em

    }
    div.message_div{
    margin-left:0.3em;
    margin-top:-0.5em;
    }




    .all_content {
        +
    }

    h5.couple_names {
        font-size: 14px;
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        overflow: hidden; /* Oculta el texto que desborda el contenedor */
        text-overflow: ellipsis;
    }

    p.message {
        font-size: 13px;
    }






}

@media (min-width: 2320px) and (max-width: 3300px) {
    #left_column {
        width: 33%;
        /* Otros estilos para tu columna */
    }
}
@media (min-width: 3300px) and (max-width: 4300px) {
    #left_column {
        width: 28%;
        /* Otros estilos para tu columna */
    }
}
@media (min-width: 1200px) and (max-width: 2000px) {

.chat_preview_div {
    padding-left: 1.6em;
    overflow: hidden; /* Oculta el desbordamiento de texto */
    white-space: nowrap; /* Evita el salto de línea */
    text-overflow: ellipsis; /* Muestra puntos suspensivos cuando hay desbordamiento de texto */
}

}
@media (min-width: 768px) and (max-width: 1200px) {

.chat_preview_div {
    margin-top: 0.3em;
    padding-left: 2.5em;
    overflow: hidden; /* Oculta el desbordamiento de texto */
    white-space: nowrap; /* Evita el salto de línea */
    text-overflow: ellipsis; /* Muestra puntos suspensivos cuando hay desbordamiento de texto */
}

}
