 @media (min-width: 993px) {

 .navbar-mobile{
 display:none;
 }


/* ROOT */
:root {
  --navbar-height:4em;
}

/* NAVBAR */
a.navbar-brand{
font-size:30px;
font-weight:500;
}

.navbar{
height:var(--navbar-height);
}

nav.navbar_background{
background-color:white;
}

li a.nav-link.my_navbar.white, div a.navbar-brand.logo_icon.white{
color:white;
}

.logo_icon{
font-size:33px !important;
padding-top:0px;
padding-bottom:0;
transform: scale(1);
transform-origin: center;
transition: transform 0.2s ease-in-out;
}

a.navbar-brand.logo_icon:hover{
transform: scale(1.03);
}

li a.nav-link.my_navbar.transparent_link, li a.nav-link.my_navbar.white {
margin-left:1em;
font-weight:500;
transform: scale(1);
transform-origin: center;
transition: transform 0.1s ease-in-out;
}

li a.nav-link.my_navbar.transparent_link{
color:var(--dark--main-color);
}

li a.nav-link.my_navbar.transparent_link:hover{
color:var(--main-blue) !important;
transform: scale(1.03);
}

li a.nav-link.my_navbar.white:hover{
color:white !important;
transform: scale(1.05);
}

div.container.navbar-container{
padding-top:0.8em;
}
}

/* END OF NAVBAR */

 @media (max-width: 992px) {
   .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
    height:6vh;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--main-blue);
    color: white;
    padding: 0.5em;
}
.navbar-mobile a {
    color: white;
    text-decoration: none;
}

.navbar-container{
margin-left:0.3em;
margin-bottom:0.2em;
height:3vh;
}
i.fas{
font-size : 23px;
}
.back-arrow{
display:none;}


    /* Ocultar el navbar de escritorio en dispositivos móviles */
    .navbar-desktop {
        display: none;
    }

    /* Estilos para el navbar móvil */


    /* Estilos para los enlaces del navbar móvil */


    .navbar-item {

    }
}

