/* ROOT */
:root {
  --main-blue: #8CC0DE;
  --main-yellow:#FFE162 ;
  --dark-main-color:#346774;
}

/* Blue color palette: https://colorhunt.co/palette/faf0d7ffd9c08cc0decceeb c*/



* {
padding: 0;
margin: 0;
}

.home_background{
    background-color:#479ac9 ;
    height: 100vh;
}

.home_logo{
    color:white !important;
}

html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
    width:100%;
}



body{
user-select: none;
font-family: 'Montserrat', sans-serif;

}


footer.my_footer{

position:relative;
height:50px;
margin-top:100px;
clear:both;
}


.login_footer{

}

 @media (max-width: 768px) {
.login_footer{
margin-top:2em;
max-width:95%;

}


footer.my_footer{

margin-top:1.5em;

}
}


/* END-ROOT */



/* SCROLLING PAGE */
img.photo.scrolling_photo {
    width: 350px;
    height: 437.5px;
    object-fit: cover;
    border-radius: 10px;
}
/* END OF SCROLLING PAGE */


/* HOME */
.content {
    text-align: center;
    padding-top: 7em;
    padding-bottom:3em;
}

 @media (max-width: 768px) {
.content {
    padding-top: 0.1em;
    padding-bottom:1em;
}
}



.title_color{
color:var(--main-yellow);

}

.home_white_text{
color:white!important;
}

.jumbotron h1{
font-weight:600;
font-size: 5em;
}

h3.home_white_text{
    font-size: 1.5em;
}

 @media (max-width: 768px) {
.jumbotron h1{
font-weight:600;
font-size: 5em;
}
}

#img_1_home{
width:15.8em;
margin-top:0em;
margin-right:-14em;
z-index:1;
position:relative
}
#img_2_home{
width:21.5em;
margin-top:0em;
margin-right:-4em;
z-index:2;
position:relative
}

 @media (max-width: 768px) {
#img_1_home{
width:16.8em;
margin-top:0em;
margin-right:3.8em;
z-index:1;
position:relative
}

#img_2_home{
width:21.5em;
margin-top:-25em;
margin-right:-1.2em;
z-index:2;
position:relative
}
}



div.container.login_container {
    padding-top: 7em !important;
}

.login_small_box {
max-width: 500px;
border-radius: 0.25rem!important;
padding-top: 3em !important;
padding-bottom: 2em !important;
}

div.small_container {
    max-width: 23em;
}

/* END OF HOME */

/*  COMMON STYLES */
.main_blue_background {
    background-color: var(--main-blue);
}
.main_blue_text {
    color: var(--main-blue) !important;
}
.dark_color_text {
    color: var(--dark-main-color) !important;
}



 @media (max-width: 768px) {
footer.my_footer p{
font-size: 1em;
padding-bottom:4em;
margin-bottom:4em;
}


}

.login_container{
margin-top:8em;
max-width: 26em;
}

 @media (max-width: 768px) {
.login_container{
margin-top:5em;
max-width: 95%;
}
}

.signin_with_google{
width:23em;
background-color:var(--main-blue);
border-radius:50px;
height:2.8em;
margin:auto;
cursor: pointer;
}

 @media (max-width: 768px) {
.signin_with_google{
width:20em;

}
}

img.user_img{
margin-left:-0.35em;
width:2em;
border-radius:50px;
margin-top:5px;
}

div.google_div{
background-color:white;
border-radius:50px;
margin-top:2.7px;
margin-left:6px;
width:2.4em;
height:2.4em;
cursor: pointer;
}

 @media (max-width: 768px) {
div.google_div{
margin-top:2.8px;
margin-left:0px;

}
}

div.google_div_no_authentificated{
background-color:white;
border-radius:50px;
margin-top:2.7px;
margin-left:-9px;
width:2.4em;
height:2.4em;
cursor: pointer;
}

img.google_icon{
width:60%;
margin-top:7.5px;
border-radius:50px;

}

p.login_text{
font-family:"Roboto";
font-size:0.75em;
font-weight:550;
color:white;
margin-top: 5.4px;
margin-bottom:0em;
margin-left:3.2px;
}

p.login_text_no_authenticated{
font-family:"Roboto";
font-size:0.88em;
font-weight:550;
color:white;
margin-top: 11px;
margin-bottom:0em;
margin-left:9px;
}

.bienvenido_text{
font-weight:600;
}

p.login_explanation_text{
font-size:0.9em;
font-weight:600;
}

p.email_text{
font-family:"Roboto";
font-size:11px;
font-weight:400;
color:white;
margin-top:-0.2px;
margin-bottom:0em;
margin-left:3px;
}

 @media (max-width: 768px) {
h3{
font-size:18px;
}
}

/*  END OF COMMON STYLES */