{% extends 'base.html' %}
{% block head %}
<link href="{{ url_for('static', filename='css/scrolling_styles.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container" style="height:60%">
<div class="carousel slide" data-bs-interval="false" data-bs-touch="false" id="carouselExampleIndicators">
                <div class="carousel-indicators">
                    {% for i in range(profile_photos|length) %}
                    <button aria-label="Slide {{ i + 1 }}" class="{{ 'active' if loop.index == 1 else '' }}"
                            data-bs-slide-to="{{ i }}" data-bs-target="#carouselExampleIndicators"
                            type="button"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for i, photo in enumerate(profile_photos) %}
                    <div class="carousel-item {{ 'active' if i == 0 else '' }}">
                        <img alt="..." alt="Photo" class="d-block w-100"
                             class="photo img-fluid scrolling_photo"
                             src="{{ url_for('serve_upload', filename=photo) }}">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators"
                        type="button">
                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators"
                        type="button">
                    <span aria-hidden="true" class="carousel-control-next-icon"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <!--                Like and don't like circles         -->



            </div>
    </div>
{% endblock %}