{% extends 'base.html' %} {% block head %}
<title>Coupler - Iniciar sesión</title>
{% endblock %} {% block content %}

<header>
  <!--        Navbar-->
  {% include "transparent_navbar.html" %}
</header>

<div class="container login_container">
  {% if session["google_id"] %}
  <h2 class="text-center me-4 bienvenido_text">Bienvenido de nuevo</h2>
  {% else %}
  <h2 class="text-center me-4 bienvenido_text">Bienvenido</h2>
  {% endif %}
  <p class="login_explanation_text text-center">
    Al iniciar sesión, aceptas nuestras condiciones. Si quieres, puedes obtener
    más información sobre nuestra <a href="">politica de privacidad</a> y
    <a href="">política de cookies.</a>
  </p>
  {% if session["google_id"] %}

  <div class="row signin_with_google" id="signinWithGoogle">
    <div class="col-1">
      <img class="user_img" src="{{session['google_photo']}}" />
    </div>
    <div class="col-9">
      <p class="login_text">Continuar como {{session["google_name"]}}</p>
      <p class="email_text">{{session["google_email"]}}</p>
    </div>
    <div class="col-2">
      <div class="google_div text-center" id="googleDiv">
        <img class="google_icon" src="static/images/google_icon.png" />
      </div>
    </div>
  </div>

  {% else %}
  <div class="row signin_with_google" id="signinWithGoogle">
    <div class="col-2">
      <div class="google_div_no_authentificated text-center" id="googleDiv">
        <img class="google_icon" src="static/images/google_icon.png" />
      </div>
    </div>
    <div class="col-9">
      <p class="login_text_no_authenticated">Login with google</p>
      <p class="email_text">{{session["google_email"]}}</p>
    </div>
  </div>
  {% endif %}

  <div class="row signin_with_google mt-2" id="signinWithPassword">
    <div class="col-2">
      <div class="google_div_no_authentificated text-center" id="googleDiv">
        <img class="google_icon" src="static/images/login.png" />
      </div>
    </div>
    <div class="col-9" id="sign_in_with_email">
      <p class="login_text_no_authenticated">Login for testing</p>
      <p class="email_text"></p>
    </div>
  </div>

  <form
    class="ms-2 me-2"
    id="email_form"
    style="display: none"
    action="/login_for_testing"
    method="post"
  >
    <div class="mb-3 mt-4">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
		value="testing@user.com"
        class="form-control"
        id="email"
        name="email"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">Just for testing purposes</div>
      <div id="emailHelp" class="form-text">
        testing@user.com // testing2@user.com // testing3@user.com
      </div>
    </div>
    <button
      type="submit"
      id="login_button"
      class="btn btn-primary"
      style="background-color: #8cc0de; border: none"
    >
      Iniciar sesión
    </button>
  </form>
  <div id="flash_messages" class="mt-3">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div
      class="alert alert-primary alert-dismissible fade show text-center"
      role="alert"
    >
      <strong> {{ message }} </strong>
    </div>
    {% endfor %} {% endif %} {% endwith %}
  </div>
</div>

<script src = "../static/js/login_scripts.js"> </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
