{% extends 'base.html' %}

{% block head %}

<title>Coupler - Encuentra amigos con intereses similares</title>

{% endblock %}

{% block content %}

<head>
    <!--        Navbar-->
    {% include "transparent_navbar.html" %}

    <link href="{{ url_for('static', filename='css/profile_styles.css') }}" rel="stylesheet">

</head>

<div class="container profile-container ">
    <form action="/profile" autocomplete="off" enctype="multipart/form-data" method="POST">
        {{ form.hidden_tag() }}
        <section class="mb-5 ">
            {% if message is not none %}
            <div class="alert alert-warning text-center no" role="alert">
                <strong>
                    <p>
                    {{ message }}
                    </p>
                </strong>
            </div>
            {% endif %}
            <div class="grid-container ">
                {% for count in range (1,7) %}
                <div class="grid-item ">
                    {% if count <= photos_count %}
                    <div class="addPhotoCircle">
                        <img alt="" class="addButton"
                             onclick="deletePicture('{{ photos[count - 1] }}', '{{ url_for('deleteImg') }}')"
                             src="../static/images/less.png">
                    </div>
                    <img alt="" class="active photoImg"
                         src="{{ url_for('serve_upload', filename=photos[count - 1]) }}">
                    {% endif %}

                    {% if count > photos_count %}
                    <div class="addPhotoCircle">
                        <img alt="" class="addButton" src="../static/images/plus.png">
                    </div>
                    <img alt="" class="photoImg profileImg" src="">
                    <input accept=".jpg, .jpeg, .png" autocomplete="off" class="fileInput"
                           data-photo="{{ couple_directory }}" name="{{ 'photo' ~ count }}" type="file">
                    {% endif %}
                </div>
                {% endfor %}
            </div>

        </section>
        <!--Nombres-->
        <section class="mb-2 ">
                <h5 class="mb-3 ">¿Cómo os llamais?</h5>
                <div class="row ">
                    <div class="col-md-4">
                        {{ form.name1(class="form-control profile_input", value=user.name1 if user.name1 is not none else
                        "") }}
                    </div>
                    <div class="col-1 and_column text-center">
                        <p class="mt-2 ">y</p>
                    </div>

                    <div class="col-md-4">
                        {{ form.name2(class="form-control profile_input", value=user.name2 if user.name2 is not none else
                        "") }}
                    </div>
                </div>
        </section>
        <section class="mb-2 ">
                <h5 class="mb-3 " >¿Qué edad tenéis?</h5>
            <div class="row ">
                <div class="col-md-4">
                    {{ form.age1(class="form-control profile_input", value=user.age1 if user.age1 is not none else "")
                    }}

                </div>
                <div class="col-md-1 and_column text-center">
                    <p class="mt-2">y</p>
                </div>
                <div class="col-md-4">
                    {{ form.age2(class="form-control profile_input", value=user.age2)
                    }}
                </div>
            </div>
        </section>
        <section class="mb-2 ">
                <h5 class="mb-3">¿Con qué género os identificáis?</h5>
            <div class="row ">
                <div class="col-md-4">
                    {{ form.gender1(class="form-control profile_input", selected=user.gender1) }}
                </div>
                <div class="col-md-1 and_column text-center">
                    <p class="mt-2">y</p>
                </div>
                <div class="col-md-4">
                    {{ form.gender2(class="form-control profile_input", selected=user.gender2) }}
                </div>
            </div>
        </section>
        <!--ETIQUETAS-->

        <section class="mb-3">
            <div class="form-group labels_section">
                <h5 class="mb-3 ">Vuestras etiquetas</h5>
                <div class="" id="checkbox-container" >
                    {% for choice in form.tags %}
                    <label>
                        <input type="checkbox" class="form-check-input" name="{{ choice.name }}" value="{{ choice.data }}" {% if choice.data in tags_list %}checked{% endif %}>
                        {{ choice.label(class="me-2") }}
                    </label>
                    {% endfor %}
                </div>
            </div>

        </section>
<!--SOBRE VOSOTROS-->
        <section class="">
            <h5 class="mb-3 ">Contadnos sobre vosotros</h5>
            <textarea class="  form-control description_area" maxlength="600"
                      name="{{ form.couple_description.name }}"
                      rows="5">{{ couple_description or "" }}</textarea>
            <br>
        </section>


        {{ form.submit(class="btn btn-primary ms-1 mb-4") }}

        <button  class="btn btn-secondary ms-1 mb-4 btn-cerrar-sesion" type="button"> Cerrar sesión</button>


        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
            <strong>
                {{ message }}
            </strong>
            <button aria-label="Close" class=" btn-close" data-dismiss="alert" type="button">
                <span aria-hidden="true"></span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </form>
</div>

<script src="{{ url_for('static', filename='js/myprofile.js') }}"></script>

<script>
  $(document).ready(function() {
    $('.fileInput').on('change', function() {
      const fileInput = $(this)[0];
      const file = fileInput.files[0];
      const photoData = $(this).data('photo'); // Obtiene el valor de data-photo

      if (file && /\.(jpe?g|png)$/i.test(file.name)) {
        const formData = new FormData();
        formData.append('photo', file);
        formData.append('photo_data', photoData); // Agrega el dato photo_data al formulario

        $.ajax({
          type: 'POST',
          url: '{{ url_for('addImg') }}',  //
          data: formData,
          processData: false,
          contentType: false,
          success: function(response) {
            var scrollPosition = window.scrollY;
            location.reload();
            window.scrollTo(0, scrollPosition);
          },
          error: function(error) {
            // Maneja los errores de la solicitud aquí si es necesario
            console.error('Error al subir la imagen', error);
          }
        });
      }
    });
  });
</script>


<script>
    $(document).ready(function() {
        $('.btn-cerrar-sesion').click(function() {
            $.post('/cerrar_sesion', function(data) {
                window.location.href = '/';
            });
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        var maxChecked = 6;
        var checkboxes = $('#checkbox-container input[type="checkbox"]');

        checkboxes.on('change', function() {
            var checkedCheckboxes = checkboxes.filter(':checked');

            if (checkedCheckboxes.length > maxChecked) {
                $(this).prop('checked', false);
            }
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

