<!--        navbar-->
<head>
    <link href="{{ url_for('static', filename='css/navbar_styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<nav class="navbar-desktop navbar navbar-expand-lg fixed-top navigation navbar-light navbar_background">
    <div class="container navbar-container">
        <a class="navbar-brand logo_icon dark_color_text" href={{ url_for('home') }}>Coupler</a>
        <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto text-center home_page">
                {% if current_user.is_authenticated is false %}
                <li class="navbar-item ps-3">
                    <a class="nav-link my_navbar transparent_link" href="" id="projects_navbar">
                        Iniciar Sesión</a>
                </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="navbar-item my_navbar ps-3" id="home_li">
                    <a class="nav-link my_navbar transparent_link" id="home_navbar" href={{  url_for('buscar') }}>
                    Busqueda </a>
                </li>
                <li class="navbar-item ps-3">
                    <a class="nav-link my_navbar transparent_link" id="info_navbar" href={{ url_for('login') }}>
                    Mi perfil </a>
                </li>
                <li class="navbar-item ps-3">
                    <a class="nav-link my_navbar transparent_link" id="info_navbar" href={{ url_for('chats') }}>
                    Mensajes </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar-mobile  fixed-bottom navbar-light ">
    <div class="row navbar-container">
<!--         Elemento 1-->
        <div class="back-arrow col-3 text-center" id="back_to_chats">
            <a href="#"><i class=" fas fa-arrow-left"></i></a>
        </div>
        <div class="back-arrow col-3 text-center" id="back_to_messenger">
            <a href="#"><i class=" fas fa-arrow-left"></i></a>
        </div>
        <!-- Elemento 2 -->
        {% if current_user.is_authenticated  %}
        <div class="col text-center">
            <a href={{ url_for('chats') }}><i class="fas fa-envelope"></i></a>
        </div>
        <!-- Elemento 3 -->
        <div class="col text-center">
            <a href={{  url_for('buscar') }}><i class="fas fa-search"></i></a>
        </div>
        <div class="col text-center">
            <a href={{ url_for('login') }}><i class="fas fa-user"></i></a>
        </div>
        {% else %}
        <div class="col text-center">
            <a href={{ url_for('login') }}>Iniciar sesión</a>
        </div>
        {% endif %}
        <!-- Agrega más elementos aquí según sea necesario -->
    </div>
</nav>